.nav-tabs {
  --bs-nav-tabs-link-active-color: var(--brand-red);
  --bs-nav-tabs-link-active-bg:    var(--brand-bg);
  --bs-nav-tabs-link-active-border-color: var(--brand-fg) var(--brand-fg) var(--brand-bg);
}