.small-table table {
  font-size: 0.5em;
  white-space: nowrap;

}

/* If you also need to scale the MathJax/KaTeX */
.small-table .MathJax {
  font-size: 0.5em !important;
}

.small-table {
  overflow-x: auto;
}
